// Import font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

// Variables
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);
$very-dark-blue: hsl(234, 12%, 34%);
$grayish-blue: hsl(229, 6%, 66%);
$very-light-gray: hsl(0, 0%, 98%);

// Base Styles
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  background-color: $very-light-gray;
  display: flex;
  flex-direction: column;
}

section {
  max-width: 1200px;
  margin: auto;
}

a {
  text-decoration: none;
}

// Heading
.heading {
  max-width: 500px;
  text-align: center;
  padding-top: 2em;
  margin-bottom: 3em;

  h1 {
    font-weight: 200;
    font-size: 2rem;
    color: $very-dark-blue;
  }

  .lead {
    font-weight: 600;
    margin-bottom: .7em;
  }

  p {
    color: $grayish-blue;
  }
}

// Cards
.cards {
  display: flex;
  align-items: center;

  .left {
    flex: 1;
    padding: 1em;

    .card {
      border-color: $cyan;
    }
  }

  .middle {
    flex: 1;
    padding: 1em;

    .card:nth-child(1) {
      border-color: $red;
      margin-bottom: 2em;
    }

    .card:nth-child(2) {
      border-color: $orange;
    }
  }

  .right {
    flex: 1;
    padding: 1em;

    .card {
      border-color: $blue;
    }
  }
}

// Card
.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-top: 4px solid;
  border-radius: 6px;
  padding: 2em;
  box-shadow: 0px 4px 16px rgba(131, 166, 210, 35%);
  cursor: pointer;
  transition: all 270ms ease-in-out;

  &:hover {
    transform: translateY(-4px);
  }

  h3 {
    line-height: 2;
    font-size: 1.2rem;
    color: $very-dark-blue;
  }

  p {
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.09px;
    color: $grayish-blue;
    margin-bottom: 2em;
    padding-right: 1em;
  }

  img {
    align-self: flex-end;
  }
}

// Footer
footer {
  align-self: flex-end;
  margin: auto;
  color: $very-dark-blue;
}

@media only screen and (max-width: 800px) {
  .cards {
    flex-direction: column;

    .left,
    .middle,
    .right {
      width: 100%;
    }
  }

  footer {
    padding: 1em 0
  }
}